$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// $background-color: white;
// $font-color: black;
// $white: #fff;
// $grey: rgb(128, 128, 128);
// $black: #000;
// need to use hex for colors
// need lots of work here

.messages {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sign-up-button {
  padding-top: 10px;
}

.banner {
  margin: 0 auto;
  text-align: center;
}

.row {
  clear: both;
  overflow: hidden;
}

.container-fluid {
  background-color: yellow;
  width: 360px;
  margin: 0 auto;
}

.col-xs-4 {
  float: left;
  border: 1px solid black;
  height: 120px;
  width: 120px;
  cursor: pointer;
  text-align: center;
}

.X {
  font-family: "Times New Roman", Times, serif;
  padding-top: 18px;
  color: black;
  font-size: 60px;
}

.O {
  font-family: "Times New Roman", Times, serif;
  padding-top: 18px;
  color: black;
  font-size: 60px;
}

.change-password-button-only {
  padding-top: 10px;
}

#photo {
  width: 500px;
  height: 436px;
}
