$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#sign-up {
  margin-left: 15px;
  margin-bottom: 10px;
}

#sign-up-form {
  margin-left: 15px;
  margin-bottom: 10px;
}

#sign-in {
  margin-left: 15px;
  margin-bottom: 10px;
}

#sign-in-form {
  margin-left: 15px;
  margin-bottom: 10px;
}

#start-button {
  // padding-left: 15px;
  // border-left: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}

#get-games {
  // padding-left: 15px;
  // border-left: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

#change-password-form {
  padding-top: 15px;
}

.messages {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.get-games-message {
  text-align: center;
}

body {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sign-up-button {
  padding-top: 10px;
}

.banner {
  margin: 0 auto;
  text-align: center;
}

.row {
  clear: both;
  overflow: hidden;
}

.container-fluid {
  background-color: yellow;
  width: 360px;
  margin: 0 auto;
}

.col-xs-4 {
  float: left;
  border: 1px solid black;
  height: 120px;
  width: 120px;
  cursor: pointer;
  text-align: center;
}

.X {
  font-family: "Times New Roman", Times, serif;
  padding-top: 18px;
  color: black;
  font-size: 60px;
}

.O {
  font-family: "Times New Roman", Times, serif;
  padding-top: 18px;
  color: black;
  font-size: 60px;
}

.change-password-button-only {
  padding-top: 10px;
}

#photo {
  width: 500px;
  height: 436px;
}

#sign-out {
  margin-top: 30px;
  margin-left: 30px;
}
